<header>
  <nav class="main-header_nav">
    <ul class="main-header_item-list">
      <li class="main-header_item">
        <a href="/" class="active">Shop</a>
      </li>
      <li class="main-header_item">
        <a href="/admin/add-product" class="active">Add Product</a>
      </li>
    </ul>
  </nav>
</header>
